<ion-header>
	<ion-toolbar>
	  <ion-title></ion-title>
	  <ion-icon slot="end" name="close-circle" color="primary" style="zoom:2.0;"  [routerLink]="['/login']" routerLinkActive="router-link-active"></ion-icon> 
	</ion-toolbar> 
</ion-header>
  
<ion-content>
  <ion-avatar>
    <div class=" row-center">
    <img src="../assets/myra-logo.jpg" height="100">
    </div> 
  </ion-avatar>
  <div padding>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item> 
  </div>
  <ion-button color="primary" size="small">Recover</ion-button>
  <ion-button button-type="bar-button" end style="padding-left:150px" [routerLink]="['/login']" routerLinkActive="router-link-active" >Back to sign in</ion-button>
</ion-content>
  