$fab-content-margin: 20px;
$fab-mini-size: 30px;

.cancelbtn{
    float: right;
}

.addicon{
    width: 25px;
    height: 25px;
    // right: 0;
    // float: right;
    // margin-right: 2%;
    color: #ff7777;
}